extends ../layout
block append metas 
  meta(name="description" content="New user will select address from corresponding postal code")

block content 
  h1 Please select your address for postal code: #{postcode}
  form(action="/" method="POST")
    ul 
      each val in addresses 
        li
          label(for="address") #{val}
            input(type="radio" name="address" value=val)
        br  
    input(type="submit")