doctype html
html(lang="en")
  head
    title= title
    block metas
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1")
    block scripts 
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    //- Sidebar
    div(class="sidebar" style="width:10%")
      a(href="/")
        img(class="icon" src="/images/HP_icon.svg" alt="Home")
        span Home
      a(href="/map/")
        img(class="icon" src="/images/map_icon.svg" alt="UK_Map")
        span Map 
    div(class="content" style="margin-left:10%")
      block content
