extends layout

block content
    h1 Register 
    form(action="/register" method="POST")
        p Name: 
            input(type="text" name="name" value= "" required)
        p Email: 
            input(type="email" name="email" value= "" required)
        p Password: 
            input(type="password" name="password" value= "" required)
        input(type="submit" value="Register")
    br

    a(href="/login") Login if you have already registered!
